@import "./node_modules/bootstrap/dist/css/bootstrap";
@font-face {
  font-family: 'robotolight';
  src: url("./fonts/roboto-light-webfont.woff2") format('woff2'), url("./fonts/roboto-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "robotolight";
  counter-reset: link-counter;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 400px;
  // width: 300px;
  // height: 250px;
  // overflow: scroll;
  // pointer-events: none;
  padding: 0 10px 5px;
  background: #fff;
  border: 2px solid #e8dddd;
  border-radius: 8px;
  font-family: 'robotolight' !important;
}

.cb{
  color:#4A4A49 !important;
}

.tooltip-header > h3 {
  position: relative;
  left: 50px;
  text-align: left;
}

.tooltip-body {
  margin-top: 30px;
  text-align: left;
}

.tooltip-body > a {
  counter-increment: link-counter;
}

.tooltip-body > a::before {
  content: counter(link-counter) '. ';
}

.tooltip-body > a {
  color: #004b8f;
}
// .tooltip:after{
// 	top: 100%;
// 	left: 50%;
// 	border: solid transparent;
// 	content: " ";
// 	height: 0;
// 	width: 0;
// 	position: absolute;
// 	pointer-events: none;
// }
//
// .tooltip:after {
// 	border-color: rgba(136, 183, 213, 0);
// 	border-top-color: #88b7d5;
// 	border-width: 20px;
// 	margin-left: -20px;
// }

.filter-container select {
  width: 100% !important;
}

#table {
  table-layout: fixed !important;
  td:first-child{
    word-wrap: break-word;
  }
}

.logo {
  padding-right: 30px;
  padding-top: 10px;
}

.h-1 {
  color: #47A3AD;
  font-weight: bold;
}

.filter-container {
  background-color: #008080;
  padding: 10px;
}

.filter-container label {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.suggestion {
  font-size: 15px;
  color: #008080;
}

.q {
  font-size: 15px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #f0f0f0;
}
.footer{
  color:#000 !important;
}
thead{
  word-wrap: break-word;
}
